/* mobile screen responsive */

@media screen and (max-width:576px){

    /* header responsive start */

    .nav-container{
        flex-direction:column;
        margin:0 2rem;
        text-align:center;
    }

    .nav-title{
        margin-top:10%;
        font-size:1rem;
        margin-left:-3rem;
    }

    .nav-content{
        margin-top:7%;
        flex-direction:column;
    }

    .nav-content i{
        display:block;
        margin-top:-11%;
        margin-right:-7%;
        text-align:right;
    }

    .nav-content li:hover{
        width:40%;
        margin:0 auto;
    }

    .two-contents-parent{
        flex-direction:column;
        margin-top:15%;
    }

    .header-text-content{
        width:100%;
        margin-top:10%;
        text-align:center;
    }

    .header-text-content .simple-introduction{
        margin-top:5%;
        margin-left:3rem;
    }

    .header-image-content{
        width:100%;
        margin-top:15%;
    }

    .header-image-content img{
        width:90%;
        margin-left:1rem;
    }

    /* header responsive end */

    /* about section responsive start */

    .about-section-container{
        flex-direction:column;
        margin-top:25%;
    }

    .about-image-content{
        width:100%;
        position:relative;
        margin-left:-8%;
    }

    .about-image-content img{
        width:60%;
        position:absolute;
        margin-top:-11%;
        left:5%;
        transition:5s;
    }

    .about-image-content img:hover{
        cursor:pointer;
        transform:translateY(200px);
    }

    .about-text-content{
       margin-left:54%;
    }

    /* about section responsive end */

    /* projects section responsive start */

    .projects-section-container{
        height:1240px;
    }

    .project-images-container{
        margin-top:3.5rem;
        grid-template-columns:1fr;
        row-gap:25px;
    }

    /* projects section responsive end */

    /* work inquiry section responsive start */

    .work-inquiry-section{
        width:90%;
        margin-top:15%;
    }

    .inquiry-title{
        text-align:center;
        margin-left:-10%;
    }

    /* work inquiry section responsive end */

}