/* The link of Bebas Neue */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Universal Selector */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* body */

body{
    font-family:"Bebas Neue", sans-serif;
}

/* shared styles */

.share-btn{
    width:170px;
    height:60px;
    color:rgb(255, 255, 255);
    font-size:1rem;
    font-weight:500;
    margin-top:6%;
    border-radius:0.4rem;
    border:none;
    background:linear-gradient(0.00deg, rgb(255, 128, 99) -28.333%,rgb(244, 96, 96) 95.833%);
    cursor:pointer;
}

/* header styles start */

header{
    width:90%;
    margin:0 auto;
}

.nav-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
   margin-top:4%;
}

.nav-title{
    color:rgb(54, 57, 88);
    font-size:1.4rem;
    font-weight:700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:italic;
}

.nav-title span{
    color:coral;
    font-size:2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-content i{
    display:none;
    transition:4s;
}

.nav-content i:hover{
    width:15%;
    background-color:rgb(254, 84, 3);
    padding:0.5rem;
    border-radius:0.5rem;
    cursor:pointer;
    transform:translate(300px);
}

.nav-content{
     width:328px;
     display:flex;
     justify-content:space-evenly;
     gap:1.4rem;
}

.nav-content li{
    list-style:none;
    color:rgb(60, 60, 60);
    font-family:Roboto;
    font-size:1.1rem;
    font-weight:600;
}

.nav-content li:hover{
    cursor:pointer;
    background-color:goldenrod;
    padding:0.2rem;
    border-radius:0.5rem;
}

.two-contents-parent{
    margin-top:6%;
    display:flex;
    justify-content:space-between;
}

.header-text-content{
    width:50%;
}

.name-title{
    color:rgb(54, 57, 88);
    font-size:4.4rem;
    font-weight:700;
}

.name-title span{
    color:rgb(255, 131, 103);
    font-style:oblique;
    font-size:5rem;
}

.simple-introduction{
    max-width:80%;
    margin-top:3%;
    color:rgb(62, 62, 62);
    font-family:Roboto;
    font-size:1.1rem;
    font-weight:600;
}

.header-image-content{
    width:500px;
    margin:0 auto;
    margin-right:5rem;
}

.header-image-content img{
    width:100%;
    border:8px solid rgba(117, 117, 117, 0.5);
    border-radius:1.6rem;
    box-shadow:20px 15px 10px 5px rgb(108, 108, 108);
}

/* header styles end */

/* about section styles start */

.about-section-container{
    width:90%;
    margin:0 auto;
    display:flex;
   justify-content:space-between;
   position:relative;
}

.about-image-content{
   width:50%;
 position:absolute;
top:-30%;
}

.about-image-content img{
    width:70%;
}

.about-text-content{
    width:50%;
    margin-top:8%;
    margin-left:50%;
}

.about-title{
    color:rgb(54, 57, 88);
    font-size:3.1rem;
    font-weight:700;
    margin-bottom:1.3rem;
}

.about-description{
    width:90%;
    color:rgb(62, 62, 62);
    font-family:Roboto;
    font-size:1rem;
    font-weight:600;
    margin-bottom:0.5rem;
}

/* about section styles end */

/* projects section styles start */

.projects-section-container{
  width:100%;
   height:700px;
   margin-top:8%;
   background:rgb(229, 229, 229);
}

.projects-title{
    font-size:3rem;
    font-weight:700;
    padding-top:6.5rem;
    text-align:center;
}

.projects-title span{
    color:rgb(244, 96, 96);
}

.project-images-container{
    width:90%;
    margin:0 auto;
    margin-top:5%;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
}

.first-image-card, 
.second-image-card, 
.third-image-card{
    max-width:370px;
    border-radius:1.2rem;
    box-shadow:0px 7px 20px 0px rgba(0, 0, 0, 0.07);
    background-color:rgb(255, 255, 255);
}

.first-image-card a, 
.second-image-card a, 
.third-image-card a{
    text-decoration:none;
}

.first-image-card:hover, 
.second-image-card:hover, 
.third-image-card:hover{
    cursor:pointer;
    background:rgb(229, 229, 229);
}

.first-image-card img, 
.second-image-card img, 
.third-image-card img{
    width:90%;
    margin-top:5%;
    margin-left:5%;
    border:3px solid #727272;
    border-radius:1rem;
}

.card-description{
    width:90%;
    margin:0 auto;
}

.first-image-card h2, 
.second-image-card h2, 
.third-image-card h2{
  color:rgb(54, 57, 88);
    font-family:Roboto;
    font-size:1.6rem;
    font-weight:700;
    margin-top:4%;
}

.first-image-card p, 
.second-image-card p, 
.third-image-card p{
    color:rgb(108, 108, 108);
    font-family:Roboto;
    font-size:0.9rem;
    font-weight:600;
    margin:5% 0;
}

/* projects section styles end */

/* work inquiry section styles start */

.work-inquiry-section{
    width:70%;
    margin:0 auto;
    margin-top:10%;
    background-image:url("../shapes/work-inquiry-image.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:1.7rem;
}

.full-content-container{
    width:90%;
    height:200px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.inquiry-title{
    color:rgb(255, 255, 255);
    font-size:4rem;
    font-weight:700;
}

.work-inquiry-section button{
    margin-bottom:6%;
}

/* work inquiry section styles end */